@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.main_font{
	font-family: "KOTRAHOPE";
}

@font-face {
  font-family: 'GmarketSansMedium';
  src:
    url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

html>body {
  font-family: "GmarketSansMedium";
  text-underline-position: under;
}

body{
	min-width: 1080px;
	height: 100%
}

div [data-modify-mode="N"] .ReplyModifyCenBut{
	display: none;
}

div [data-modify-mode="Y"] .ReplyModifyBut{
	display: none;
}

.map-font{
font-family: 'Pretendard-Regular';
}