@font-face {
	font-family: 'KOTRAHOPE';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

.main_font {
	font-family: "KOTRAHOPE";
}

@font-face {
	font-family: 'GmarketSansMedium';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
		format('woff');
	font-weight: normal;
	font-style: normal;
}

html>body {
	font-family: "GmarketSansMedium";
	text-underline-position: under;
}

body {
	min-width: 1800px;
	height: 100%
}

.kakaoImgSize {
	width: 368px;
}

div [data-modify-mode="N"] .ReplyModifyCenBut {
	display: none;
}

div [data-modify-mode="Y"] .ReplyModifyBut {
	display: none;
}

.map-font {
	font-family: 'Pretendard-Regular';
}

/* 토스트 UI, 유튜브 플러그인 에서 필요한 CSS 시작 */
.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.top-0 {
	top: 0;
}

.left-0 {
	left: 0;
}

.w-full {
	width: 100%;
}

.ratio-16\/9::after {
	content: "";
	display: block;
	padding-top: calc(100%/ 16 * 9);
}

.ratio-16\/9::after {
	content: "";
	display: block;
	padding-top: calc(100%/ 16 * 9);
}

.ratio-9\/16::after {
	content: "";
	display: block;
	padding-top: calc(100%/ 9 * 16);
}

.ratio-1\/1::after {
	content: "";
	display: block;
	padding-top: calc(100%/ 1 * 1);
}

.ratio-1\/2::after {
	content: "";
	display: block;
	padding-top: calc(100%/ 1 * 2);
}
/* 토스트 UI, 유튜브 플러그인 에서 필요한 CSS 끝 */
.product-wrap{
	height: 1500px;
}

.product-position{
	margin: 0 auto;
	height: 1000px;
}

.product-box {
	width :calc( (100% - 500px) / 5);
	float : left;
	margin : 50px;
	margin-top : 20px;
	margin-bottom : 100px;
	height: 200px;
}

.product-wrap>.product-box:nth-child(4n){
  margin-right : 0;
}